<template>
  <div class="price">
    <p class="price__endprice">
      {{ shoe.endprice }} руб. <span v-if="shoe.discount" class="price__porcent">{{ shoe.discount }}%</span>
    </p>
    <div v-if="shoe.discount" class="price__price">
      <p class="price__pricePara">{{ shoe.price }} руб.</p>
    </div>
  </div>
</template>

<script lang="ts">
import PriceComponent from './logic/PriceComponent';
export default PriceComponent;
</script>

<style lang="scss">
@import './scss/PriceComponent.scss';
</style>
