<template>
  <section class="detail" v-if="shoe">
    <div>
      <h1 class="detail__name">{{ shoe.name }}</h1>

      <p class="detail__description">{{ shoe.description }}</p>

      <Price :shoe="shoe" />
    </div>

    <div class="detail__add">
      <div style="font-weight: bold; font-size:1.5rem;">
        Остались вопросы?
      </div>
      <div style="font-weight: bold; font-size: 1.2rem">
        Звоните нам
      </div>
      <div>
        <a class="phone" href="tel:+7 (925) 077-93-94">+7 (925) 077-93-94</a>
      </div>
      <div class="small_text">
        Ежедневно с 10:00 до 22:00
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import DetailComponent from './logic/DetailComponent';
export default DetailComponent;
</script>

<style lang="scss">
@import './scss/DetailComponent.scss';
</style>
