@import '@/scss/variables.scss';

.card {
  width: 270px;
  margin: 0 auto;
  transition: all 0.5s;
  border-radius: 10px;
  
  .image__container
  {
    border-radius: 10px;
    position: relative;
    
    .card__image {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 10px;
    }

    .name__container
    {
      //text-align: center;
      border-radius: 10px;
      //background-color: #b0b0b0aa;
      //position: relative;
      //bottom:37px;
      width:100%;
      padding: 5px 10px;

      .name{
        color: var(--text);
      }
    }
  }

  .price {
    padding: 12px;
    color: var(--text);
  }
  
}

.card:hover {
  box-shadow: -10px 4px 20px var(--bg);
  transform: scale(1, 1);
}

.app-indicator {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
}

.app-indicator.blitz {
  color: #51d67a;
}

.app-indicator.quicklook {
  color: #d84545;
}

//@media screen and (max-width: 1000px) {
//  .card {
//    min-width: 200px;
//  }
//}
//
//@media screen and (max-width: 600px) {
//  .card {
//    min-width: 300px;
//  }
//}
