@import '@/scss/variables.scss';

.price {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 45% 55%;

  .price__endprice {
    width: 100%;
    font-weight: 700;
    color: var(--text);

    .price__porcent {
      padding: 6px 10px;
      background-color: var(--accent-transparent);
      color: var(--text);
      margin-left: 10px;
      border-radius: 10px;
    }
  }

  .price__price {
    width: 100%;
    padding-top: 5px;
    text-decoration: line-through;
    color: $DarkGrayishBlue;
    text-align: end;
  }
}


@media screen and (max-width: 1024px) {
  .price {
    grid-template-columns: 60% 40%;
    
    .price__price {
      padding-top: 0px;
    }
  }
}

@media screen and (min-width: 620px) {
  .price {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .price {
    grid-template-columns: 100%;

    .price__price {
      text-align: start;
    }
  }
}
