<template>
  <div class="card">
    <div class="image__container">
      <!-- <span v-if="appIndicatorValue" class="app-indicator" :class="appIndicatorValue">*</span> -->

      <img :src="shoe.image" class="card__image" :alt="shoe.name + 'image'" />
      <div class="name__container">
        <p class="name">{{ shoe.name }}</p>
      </div>
    </div>
    <Price :shoe="shoe" />
  </div>
</template>

<script lang="ts">
import CardComponent from './logic/CardComponent';
export default CardComponent;
</script>

<style lang="scss">
@import './scss/CardComponent.scss';
</style>
