@import '@/scss/variables.scss';

.detail {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  //max-height: 550px;
  padding: 20px;
  max-width: 550px;
  margin: 0 auto;
}

.detail__company {
  color: $OrangeP;
  font-size: 16px;
  padding-bottom: 10px;
}

.detail__name {
  font-size: 30px;
  width: 100%;
  max-width: 500px;
  color: var(--text);
  padding-bottom: 10px;
}

.detail__description {
  font-size: 16px;
  color: $DarkGrayishBlue;
  max-width: 550px;
  line-height: 26px;
  width: 100%;
  padding-bottom: 10px;
  white-space: pre-line;
}

.phone
{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin-right: 20px;
  min-width: 300px;
  justify-self: center;
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
}

.small_text
{
  font-size: 1rem;
  color: $DarkGrayishBlue;
}

.detail__add {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  max-width: 550px;
  padding-top: 30px;
  color: var(--text);
}

.detail__buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  background: $LightGrayishBlue;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
}

.detail__btn {
  cursor: pointer;
  background: $LightGrayishBlue;
  border: none;
}

.detail__btn:hover {
  opacity: 0.8;
}

.detail__count {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  color: $VeryVarkBlue;
  font-weight: 700;
}

.detail__addTocartBtn {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 20% auto;
  justify-content: center;
  border: none;
  background: $OrangeP;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  text-align: start;
}

.detail__addTocartBtn:hover {
  opacity: 0.8;
}

.detail__addToCartBtn {
  max-width: 24px;
}

.detail__favoriteBtn {
  border: none;
  margin-top: 10px;
  padding: 12px 8px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: $LightGrayishBlue;
  color: $VeryVarkBlue;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1vh;
  cursor: pointer;
}

.faq {
  h2 {
    padding-bottom: 30px;
    color: $VeryVarkBlue;
  }
}

.accordion--active {
  border-bottom: 2px solid $LightGrayishBlue;
}

@media screen and (min-width: 800px) {
  .detail {
    padding: 30px;
    padding-top: 30px;
  }
  .detail__name {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .detail__add {
    grid-template-columns: 48% 48%;
    max-width: 420px;
  }

  .detail__buttons {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .detail__addTocartBtn {
    grid-template-columns: 30% auto;
    text-align: center;
  }

  .detail__description {
    max-width: 420px;
  }

  .detail__favoriteBtn {
    max-width: 420px;
  }
}
