<template>
  <main class="product">
    <section class="product__view">
      <Photo :mainShoe="true" />
      <Detail :shoe="shoe.find(s => s.id === parseInt(String($route.params.id)) )" v-if="!isFetching" />
      <InfoSkeleton v-if="isFetching" />
    </section>

    <!-- start recommendations -->
<!--    <section class="product__recommendations">-->
<!--      <h5>Похожие товары</h5>-->
<!--      <h2>РЕКОМЕНДУЕМ</h2>-->

<!--      <article class="product__container product__recommendationsContainer" v-if="isFetching">-->
<!--        <article-->
<!--          v-for="cardSkeleton in [...Array(4).keys()]"-->
<!--          :key="cardSkeleton + 'product-skeleton'"-->
<!--          class="home__product"-->
<!--        >-->
<!--          <CardSkeleton />-->
<!--        </article>-->
<!--      </article>-->
<!--      <article class="product__container product__recommendationsContainer" v-if="!isFetching">-->
<!--        <nav v-for="shoe in recommendations" :key="shoe.id + 'recommendations'">-->
<!--          <a :href="`/product/${shoe.id}`">-->
<!--            &lt;!&ndash; <router-link :to="{ name: 'Product', params: { id: shoe.id } }"> &ndash;&gt;-->
<!--            <CardComponent :shoe="shoe" />-->
<!--            &lt;!&ndash; </router-link> &ndash;&gt;-->
<!--          </a>-->
<!--        </nav>-->
<!--      </article>-->
<!--    </section>-->
    <!-- end recommendations -->
  </main>
</template>

<script lang="ts">
import ProductLogic from './logic/ProductView';
export default ProductLogic;
</script>

<style lang="scss">
@import './scss/ProductView.scss';
</style>
