@import '@/scss/variables.scss';

.footerComponent {
  min-height: 40px;
  background: $VeryVarkBlue;
  //flex-grow: 1;
  //margin-top: 90px;
  //padding: 70px 200px;
  //padding-bottom: 0px;
  //margin-top:auto;
  bottom:0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  p {
    color:white;
  }
}

.analiticButton
{
  text-decoration: none;
  position: absolute;
  right: 20px;
  display: block;
  background: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;

  &__title {
    color: white;
    padding-bottom: 14px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 100%;
    align-content: space-evenly;
    justify-content: space-between;
  }

  &__link {
    color: $DarkGrayishBlue;

    &:hover {
      color: white;
    }
  }
}

.social {
  color: white;
  flex-direction: row;
  justify-content: unset;
  justify-content: flex-end;
  column-gap: 40px;
}

.footer__footer {
  padding-top: 70px;
  color: $DarkGrayishBlue;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 20px;

  div {
    display: flex;
  }

  div:nth-child(1) {
    column-gap: 20px;

    p:nth-child(1) {
      color: white;
    }
  }
}

.footer__privacy {
  justify-content: flex-end;
  column-gap: 20px;
  color: $DarkGrayishBlue;
}

@media screen and (max-width: 800px) {
  .footerComponent {
    display: flex;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    //margin-top: 20px;

    //padding: 20px 10px;
    //padding-top: 30px;
    //margin-top: 30px;
  }

  .analiticButton{
    position:relative;
    right: 0px;
  }

  .footer {
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    grid-row-gap: 40px;
  }

  .footer__footer {
    grid-template-columns: 100%;
    padding-bottom: 0;
  }
  .footer__gps {
    order: 2;
    padding-top: 30px;
    justify-content: center;
  }

  .footer__privacy {
    justify-content: space-evenly;
    text-align: center;
  }

  .social {
    justify-content: center;
    padding-top: 30px;
  }
}

@media screen and (max-width: 440px) {
  .footerComponent {
    font-size: 1rem;
    flex-direction: column-reverse;
    gap: 5px;
  }
  
  .footerComponent p {
    padding-bottom: 10px;
  }
}