<template>
  <main class="collections">
    <!--    <Filter />-->

    <!-- start main section -->
    <section class="collectionsShoes">
      <div v-if="store.state.filters['category'] !== ''" class="current_category">{{ currentCatalogName }}</div>

      <section class="collections__containerr">
        <article :class="'collections__container collections__container--active'" v-if="!isFetching">
          <nav class="collections__product" v-for="shoe in shoes" :key="shoe.id + 'collections'">
            <!-- <router-link :to="{ name: 'Product', params: { id: shoe.id } }"> -->
            <a :href="`/product/${shoe.id}`">
              <Card :shoe="shoe" />
            </a>
            <!-- </router-link> -->
          </nav>
        </article>

        <h3 class="collections__empty" v-if="isEmpty">Для выбранного фильтра ничего не найдено((</h3>

        <!-- <Pagination /> -->
      </section>
      <!-- end main section -->
    </section>
  </main>
</template>

<script lang="ts">
import HomeView from './logic/CollectionsView';
export default HomeView;
</script>

<style lang="scss">
@import './scss/CollectionsView.scss';
</style>
