.modalAuth {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}
