<script lang="ts" setup>
import testcategories from '@/testcategories';
import { computed, effectScope, onMounted, ref, toRaw, watch } from 'vue';
import testdbMock, { type ProductCard } from '../../testdb-mock';
import { testdb, testdbLoadingStatus } from '../../testdb-promise';
import { debounce, generateGuid } from './helpers';
import { useArray } from './useArray';

const testDbSavedSnapshot = ref<string>();
const testdbEditable = ref<typeof testdbMock>();
const outerScope = effectScope();
const categorySelected = ref<(typeof testdbMock)['data'][number]['type'] | undefined>(testcategories.data[0].id);
const scopeSelected = ref<'dev' | 'main'>(
  location.host.includes('dev') || location.host.includes('localhost') ? 'dev' : 'main'
);
const isSignedIn = ref(false);
const isDirty = ref(false);

onMounted(async () => {
  const response = await fetch('https://arigami-backend.yernende.ru/api/signin', {
    credentials: 'include',
    mode: 'cors',
  });

  if (response.ok) {
    isSignedIn.value = true;
  }
});

const checkDirtyDebounced = debounce(() => {
  if (testdbEditable.value && testDbSavedSnapshot.value) {
    isDirty.value = testDbSavedSnapshot.value != JSON.stringify(toRaw(testdbEditable.value));
  }
}, 100);

watch(testdbEditable, checkDirtyDebounced, { deep: true });

watch(
  () => testdbLoadingStatus.value,
  (newValue) => {
    if (newValue == 'ready') {
      testdbEditable.value = structuredClone(toRaw(testdb.value));
      testDbSavedSnapshot.value = JSON.stringify(toRaw(testdbEditable.value));
      checkDirtyDebounced();

      outerScope.run(() => {
        // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
        useArray(testdbEditable.value!.data, (item) => {
          watch(
            () => [item.price, item.discount],
            () => {
              const price = parseFloat(item.price);
              const discount = parseFloat(item.discount.toString());
              const endPrice = price - (price / 100) * discount;

              item.endprice = endPrice.toString();
            }
          );
        });
      });
      1;
    }
  },
  { immediate: true }
);

const productCardsFiltered = computed(
  () =>
    testdbEditable.value?.data &&
    testdbEditable.value.data.filter((productCard) =>
      categorySelected.value ? productCard.type == categorySelected.value : true
    )
);

const productCardsFilteredAndSorted = computed(
  () => productCardsFiltered.value && [...productCardsFiltered.value].sort((a, b) => a.order - b.order)
);

function startAddProductCard() {
  if (!testdbEditable.value?.data) return;

  let id = Math.max(...testdbEditable.value.data.map((productCard) => productCard.id)) + 1;

  let order = Math.min(...testdbEditable.value.data.map((productCard) => productCard.order)) - 1;

  const productCard = {
    id,
    token: generateGuid(),
    name: 'Новый товар',
    price: '10000',
    image: '',
    description: '',
    discount: 0,
    endprice: '10000',
    company: 'Мебельная компания',
    gender: 'Men',
    type: categorySelected.value ?? 'furniture',
    betterInApp: true,
    order,
  };

  testdbEditable.value.data.push(productCard);
}

function startDeleteProductCard(productCardToDelete: ProductCard) {
  if (!testdbEditable.value?.data) return;
  if (!confirm(`Удалить карточку ${productCardToDelete.id}?`)) return;

  const cardToDeleteIndex = testdbEditable.value.data.findIndex((productCard) => productCard == productCardToDelete);
  testdbEditable.value.data.splice(cardToDeleteIndex, 1);
}

function startSaveProductCard() {
  testDbSavedSnapshot.value = JSON.stringify(toRaw(testdbEditable.value));
  checkDirtyDebounced();

  fetch(`https://arigami-backend.yernende.ru/api/demopage-db?scope=${scopeSelected.value}`, {
    method: 'PUT',
    credentials: 'include',
    mode: 'cors',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(toRaw(testdbEditable.value), null, 2),
  });
}
</script>

<template>
  <template v-if="isSignedIn">
    <div class="admin_toolbar">
      <!-- <select v-model="scopeSelected" class="catalog_button">
        <option value="dev">Dev-сервер</option>
        <option value="main">Main-сервер</option>
      </select> -->

      <select v-model="categorySelected" class="catalog_button">
        <option v-for="category in testcategories.data" :key="category.id" :value="category.id">
          {{ category.text }}
        </option>
        <option :value="undefined">Всё</option>
      </select>

      <button class="catalog_button" @click="startAddProductCard">Добавить карточку</button>
      <button class="catalog_button save_button" @click="startSaveProductCard">
        Сохранить <span v-if="isDirty">*</span>
      </button>
    </div>
    <div v-if="productCardsFilteredAndSorted" class="admin_cards_list">
      <div class="admin_product_card" v-for="productCard of productCardsFilteredAndSorted" :key="productCard.id">
        <div class="admin_product_card__header">
          Товар #{{ productCard.id }}
          <button @click="startDeleteProductCard(productCard)">Удалить</button>
        </div>
        <div class="admin_product_card__body">
          <img :src="productCard.image" />
          <div>
            <label>
              Категория
              <select v-model="productCard.type">
                <option v-for="category in testcategories.data" :key="category.id" :value="category.id">
                  {{ category.text }}
                </option>
              </select>
            </label>

            <label>
              Токен

              <input v-model="productCard.token" />
            </label>

            <label>
              Название

              <input v-model="productCard.name" />
            </label>

            <label>
              Описание

              <textarea v-model="productCard.description" rows="4" />
            </label>

            <label>
              Изображение

              <input v-model="productCard.image" />
            </label>

            <label>
              Компания

              <input v-model="productCard.company" />
            </label>

            <label>
              Цена, руб

              <input v-model="productCard.price" />
            </label>

            <label>
              Скидка, %

              <input v-model.number="productCard.discount" />
            </label>

            <label>
              Конечная цена, руб

              <input v-model="productCard.endprice" />
            </label>

            <label>
              Лучше в приложении

              <input type="checkbox" v-model="productCard.betterInApp" />
            </label>

            <label>
              Порядок

              <input type="number" v-model.number="productCard.order" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </template>
  <div v-else class="signing_in_placeholder">Проверяем авторизацию...</div>
</template>

<style lang="scss">
.signing_in_placeholder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.save_button {
  position: relative;

  span {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}

.admin_toolbar {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;

  > * {
    margin: 0.5em;
    padding: 0 1em;
  }
}

.admin_cards_list {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-evenly;
  flex-grow: 1;

  > * {
    margin: 0.5em;
  }
}

.admin_product_card {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 0.2em;
  padding: 1em;

  .admin_product_card__header {
    padding-bottom: 0.5em;
    display: flex;
    flex-flow: row;

    button {
      margin-left: auto;
      padding: 0.25em 0.5em;
    }
  }

  .admin_product_card__body {
    display: flex;
    flex-flow: row;

    img {
      height: 300px;
      width: 300px;
      margin-right: 1em;
    }

    label {
      padding: 0.25em 0;
      display: flex;

      input,
      select,
      textarea {
        margin-left: auto;
        font-size: 0.8em;
      }
    }
  }
}
</style>
