@import '@/scss/variables.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 101;
}

.modal__container {
  width: 90%;
  height: 80%;
  max-width: 450px;
}

.modal__close {
  height: 10%;
  display: flex;
  width: 86%;
  align-items: center;
  justify-content: flex-end;
}

.modal__closeSvg {
  cursor: pointer;
}

.modal__closeSvg path {
  fill: white;
  transition: all 0.5s;
}

.modal__closeSvg:hover path {
  fill: $OrangeP;
}

.modal__imageMainImg {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .modal__imgMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 620px;
    max-height: 620px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 780px) {
  .modal__container {
    width: 50%;
    height: 80%;
    max-width: 800px;
  }
}
