<template>
  <footer class="footerComponent">
    <p>© 2023 ARIGAMI. Все права защищены.</p>
    <a class="analiticButton" href="https://datalens.yandex/k54ss12f3hioa?tab=mP" target="_blank">Аналитика</a>
  </footer>
</template>

<style lang="scss">
@import './scss/FooterComponent.scss';
</style>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'FooterComponent',
});
</script>