.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.photo__normal {
  width: 100%;
}

.photo__imgNormal {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
}

.photo__especial {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 700px) {
  .photo__imgNormal {
    max-width: 590px;
    max-height: 590px;
  }
}
