<template>
  <div class="search">
    <img class="search__img" src="@/assets/images/icon-search.svg" alt="icon-search" />
    <input id="search_input" class="search__input" v-model="search" @keyup="getSearch" @keydown="checkForEndOfInput" type="text" placeholder="Поиск" />
  </div>
</template>

<script lang="ts">
import SearchComponent from './logic/SearchComponent';
export default SearchComponent;
</script>

<style scoped lang="scss">
@import './scss/SearchComponent.scss';
</style>
