<script lang="ts">
import ShowProduct from './logic/ShowProduct';

export default ShowProduct;
</script>

<template>
  <div class="showProduct" :class="adaptiveState">
    <div
      class="showProduct__mainImg"
      :class="{ fullscreen: isWidgetFullscreen }"
      v-if="testdbLoadingStatus == 'ready'"
      ref="imageContainerElement"
    >
      <iframe
        v-if="showArWidget"
        :src="
          `${widgetUrl}/?token=` +
          (testdb.data.find((item) => item.id === parseFloat(String($route.params.id)))?.token || '') +
          '&isWidget=true'
        "
        class="widget"
        frameborder="0"
        allowfullscreen
        allow="xr-spatial-tracking; camera"
        sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-downloads allow-orientation-lock"
        ref="iframeElement"
      ></iframe>

      <img
        :src="testdb.data.find((item) => item.id === parseFloat(String($route.params.id)))?.image || ''"
        alt="Изделие"
        class="showProduct__origalIms"
        v-else-if="showButtons"
      />
      <img
        :src="getImage(testdb.data.find((item) => item.id === parseFloat(String($route.params.id)))?.image || '')"
        alt="Изделие"
        v-else-if="!showButtons"
        class="showProduct__origalIms showProduct__origalIms--less"
      />

      <div
        class="wb widget-button"
        :class="[{ active: showArWidget }, adaptiveState]"
        @click="() => toggleArWidget(!showArWidget)"
      >
        <div></div>
      </div>

      <div
        v-if="showArWidget"
        class="wb fullscreen-button"
        :class="[{ active: isWidgetFullscreen }, adaptiveState]"
        @click="() => toggleWidgetFullscreen()"
      >
        <div></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import './scss/ShowProduct.scss';

.showProduct.large {
  font-size: 10px !important;
}
.wb.large div {
  transform: scale(1);
}
.showProduct.medium {
  font-size: 9px !important;
}
.wb.medium div {
  transform: scale(0.9);
}
.showProduct.small {
  font-size: 7px !important;
}
.widget-button.small > div {
  transform: scale(1);
  mask-size: 70%;
  -webkit-mask-size: 70%;
}
.fullscreen-button.small > div {
  transform: scale(0.7);
}
// }
.wb {
  background-color: #f7f8fd;
  z-index: 9;
}
.wb div {
  background-color: #1d2025;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  width: 6.4em;
  height: 6.4em;
  left: 0;
  top: 0;
  position: absolute;
}
.widget {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.widget-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 6.4em;
  height: 6.4em;
  border-radius: 7px;
  // padding: 0.8em;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--bg-transparent);
}

.widget-button div {
  background-color: var(--text);
  -webkit-mask-image: url('@/assets/open-parameters.svg');
  mask-image: url('@/assets/open-parameters.svg');
}

img {
  max-width: 100%;
}

.wb.active {
  background-color: var(--accent-transparent);
}

.fullscreen-button {
  position: absolute;
  right: 10px;
  top: 10px;

  position: absolute;
  width: 6.4em;
  height: 6.4em;
  border-radius: 7px;
  // padding: 0.8em;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--bg-transparent);
}
.fullscreen-button div {
  background-color: var(--text);
  -webkit-mask-image: url('@/assets/fullscreen-on.svg');
  mask-image: url('@/assets/fullscreen-on.svg');
}

.fullscreen-button.active div {
  -webkit-mask-image: url('@/assets/fullscreen-off.svg');
  mask-image: url('@/assets/fullscreen-off.svg');
}
</style>
