<template>
  <Header />
  <router-view />
  <FooterComponent />
</template>

<style>
html,
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
#app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
</style>

<script lang="ts">
import { defineComponent, onBeforeMount } from 'vue';
import { useStore } from 'vuex';
import FooterComponent from './components/Footer/FooterComponent.vue';
import Header from './components/Header/HeaderComponent.vue';

export default defineComponent({
  name: 'App',
  props: {
    msg: String,
  },

  setup() {
    const store = useStore();

    onBeforeMount(() => {
      store.dispatch('userModule/checkAuth');
      store.dispatch('cartModule/getCart');
    });
  },
  components: {
    Header,
    FooterComponent,
  },
});
</script>

<style lang="scss">
@import '@/scss/global.scss';
</style>
