@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#app {
  background-color: var(--bg);
}

:root {
  --accent: #51d67a;
  --accent-transparent: rgba(81, 214, 122, 0.8);
}


@media (prefers-color-scheme: light) {
  :root {
    --bg: #f7f8fd;
    --bg-transparent: rgba(247, 248, 253, 0.8);
    --text: #1d2025;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1d2025;
    --bg-transparent: rgba(29, 32, 37, 0.8);
    --text: #f7f8fd;
  }
}