@import '@/scss/variables.scss';

.details {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}

.details__view {
  display: grid;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: 110%;
  justify-content: space-between;
}

.details__container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  row-gap: 30px;
  justify-content: center;
  column-gap: 40px;
}

.details__recommendations {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 120px;
  padding-bottom: 60px;
  text-align: center;

  a {
    text-decoration: none;
  }

  h5 {
    color: $OrangeP;
    padding-bottom: 8px;
  }

  h2 {
    color: $VeryVarkBlue;
    padding-bottom: 26px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 800px) {
  .details__view {
    grid-template-rows: 100%;
    grid-template-columns: 48% 48%;
    max-width: 1300px;
  }

  .details__container {
    justify-content: unset;
  }
  .details__recommendations {
    text-align: start;
  }
}

.faq {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}

@media screen and (max-width: 650px) {
  .details__container {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1100px) {
  .details__container {
    column-gap: 20px;
  }
}
