@import '@/scss/variables.scss';

.collectionsShoes {
  display: flex;
  flex-direction: column;

  width: 100%;
  column-gap: 50px;
  justify-content: space-between;
}

.current_category {
  color: var(--text);
  text-align: center;
  margin-bottom: 20px;
}

.types {
  min-width: 180px;
  max-height: 100vh;
  display: none;
}

.types__title {
  color: $VeryVarkBlue;
  padding-bottom: 30px;
  font-weight: 500;
}

.collections {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;

  a {
    text-decoration: none;
  }
}

@keyframes animation {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

.collections__container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  row-gap: 30px;
  column-gap: 40px;
  justify-content: center;
}

.typesMobile {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 80px 40px;

  &__details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    align-items: center;
  }

  &__title {
    color: $VeryVarkBlue;
    font-size: 1.8em;
  }
}

.collections__empty {
  font-size: 1.4em;
  color: $DarkGrayishBlue;
}

.collections__containerr {
  width: 100%;
}

.collections__container--active {
  column-gap: 20px;
}

@media screen and (max-width: 650px) {
  .collections__container {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1100px) {
  .collections__container {
    column-gap: 10px;
  }
}

@media screen and (min-width: 1100px) {
  .types {
    display: block;
  }
  .typesMobile {
    display: none;
  }
}
